<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>All the Posts Ever</h1>
    <%for(let i = 0; i < posts.length; i++){%>
    <li><a href = "/posts/<%=posts[i]._id%>"><%=posts[i].title%></a></li>
    <form action ="/posts/<%=posts[i]._id%>?_method=DELETE" method="POST">
        <button type="submit">Remove Post</button>
    </form>
    <form action ="/posts/<%=posts[i]._id%>/edit" method="GET">
        <button type="submit">Edit Post</button>
    </form>
    <%}%>
    </ul>
    <form action = "/posts/new" method = "GET">
         <button type="submit">Create New Post</button>
    </form>
    
</body>
</html>