<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> that new new postz</h1>
    <form action ="/posts" method = "POST">
     Title: <input type="text" name="title">
     Author: <input type="text" name="author">
     Date: <input type="date" name="date">
     Body: <input type="text" name="body">
     <button type="submit">Create</button>
     </form>
</body>
</html>